html {
  font-size: 62.5%;
  background-color: #EEE; }

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0 0 0 23em; }

.sidebar {
  background-color: #003F87;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 23.0em;
  -webkit-box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  overflow-x: hidden; }
  .sidebar__subject {
    width: 100%; }
  .sidebar__text {
    color: white;
    margin: 5px; }
  .sidebar__check {
    position: absolute;
    left: -10000; }
    .sidebar__check:checked + .sidebar__checklbl {
      background-color: #0083D6; }
  .sidebar__radio {
    position: absolute;
    left: -10000; }
    .sidebar__radio:checked + .sidebar__radiolbl > .sidebar__radiodiv {
      background-color: white; }
  .sidebar__radiolbl {
    font-size: 1.5em;
    color: white; }
    .sidebar__radiolbl:hover {
      cursor: pointer; }
  .sidebar__slider {
    width: 90%;
    margin-left: 10px;
    font-size: 1.8em;
    color: white; }
  .sidebar__radiodiv {
    background-color: #003F87;
    border: 0.2em solid white;
    margin-left: 4px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    float: left; }
  .sidebar__checklbl {
    float: left;
    color: white;
    width: 28px;
    height: 28px;
    font-size: 1.5em;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px; }
    .sidebar__checklbl:hover {
      cursor: pointer; }
  .sidebar__input {
    width: 100%;
    padding: .5em;
    font-size: 1.5em !important;
    color: white; }
    .sidebar__input:focus {
      outline: none; }

.content {
  background-color: #EEEEEE;
  width: 100%; }
  .content__class {
    padding: 1em;
    background-color: white;
    width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.75);
    overflow: auto; }
  .content__right {
    width: 100%;
    display: flex;
    justify-content: flex-start; }
  .content__text {
    font-weight: lighter;
    font-size: 1.98em;
    padding: 0 0.8em; }
    .content__text--title {
      font-weight: bold;
      font-size: 2.4em;
      float: none;
      padding-left: 0.4em; }
    .content__text--subtitle {
      font-size: 2.0em;
      float: none;
      padding-left: 0.4em; }

.false {
  color: #c40806 !important; }

.select2-container {
  font-size: 1.5em !important;
  border-radius: 0; }

.select2-selection__choice {
  margin-bottom: 5px; }

.select2-container--default,
.select2-selection--multiple {
  border-radius: 0 !important; }

.sidebar__input,
.select2-selection--multiple {
  background-color: #0083D6 !important;
  border: none !important; }

input[type=range] {
  -webkit-appearance: none;
  margin: 4px;
  width: 80%;
  margin-bottom: 20px;
  margin-top: 10px; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 1.3px; }

input[type=range]::-webkit-slider-thumb {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  background: #0083D6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: white; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 1.3px; }

input[type=range]::-moz-range-thumb {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  background: #0083D6;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px; }

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range]::-ms-thumb {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  background: #0083D6;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: white; }

input[type=range]:focus::-ms-fill-upper {
  background: white; }

/*# sourceMappingURL=styles.css.map */
