<!--Copyright (C) Brandon Fox 2016 -->

<html ng-app='classApp'>

<head>
  <title>WWU ClassFinder</title>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Lato:700,300' rel='stylesheet' type='text/css'>
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
  <script src="js/ng-infinite-scroll.min.js"></script>
  <script src="js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body ng-controller="HomeCtrl">
  <div class="sidebar">
    <h1 class="sidebar__text">Subjects</h1>
    <select multiple="multiple" class="sidebar__subject subjectSelect"></select>
    <h1 class="sidebar__text">GUR/Course Attributes</h1>
    <select multiple="multiple" class="sidebar__subject gurSelect"></select>
    <h1 class="sidebar__text">Days</h1>
    <input class="sidebar__check" type="checkbox" id="Monday" ng-click="dayClicked('M')">
    <label for="Monday" class="sidebar__checklbl">
      <div class="sidebar__checkdiv">M</div>
    </label>
    <input class="sidebar__check" type="checkbox" id="Tuesday" ng-click="dayClicked('T')">
    <label for="Tuesday" class="sidebar__checklbl">
      <div class="sidebar__checkdiv">T</div>
    </label>
    <input class="sidebar__check" type="checkbox" id="Wednesday" ng-click="dayClicked('W')">
    <label for="Wednesday" class="sidebar__checklbl">
      <div class="sidebar__checkdiv">W</div>
    </label>
    <input class="sidebar__check" type="checkbox" id="Thursday" ng-click="dayClicked('R')">
    <label for="Thursday" class="sidebar__checklbl">
      <div class="sidebar__checkdiv">R</div>
    </label>
    <input class="sidebar__check" type="checkbox" id="Friday" ng-click="dayClicked('F')">
    <label for="Friday" class="sidebar__checklbl">
      <div class="sidebar__checkdiv">F</div>
    </label>
    <input class="sidebar__check" type="checkbox" id="Saturday" ng-click="dayClicked('S')">
    <label for="Saturday" class="sidebar__checklbl">
      <div class="sidebar__checkdiv">S</div>
    </label>
    <input class="sidebar__check" type="checkbox" id="Sunday" ng-click="dayClicked('U')">
    <label for="Sunday" class="sidebar__checklbl">
      <div class="sidebar__checkdiv">U</div>
    </label>
    <div style="clear:both; padding:4px;"></div>
    <input class="sidebar__radio" ng-model="exclusive" type="radio" id="Exclusive" ng-value="true">
    <label for="Exclusive" class="sidebar__radiolbl">
      <div class="sidebar__radiodiv"></div>
      <p style="float:left; margin-top:5px; margin-left: 5px;">Exclusive to these days</p>
    </label>
    <div style="clear:both; padding:4px;"></div>
    <input class="sidebar__radio" ng-model="exclusive" type="radio" id="Included" ng-value="false">
    <label for="Included" class="sidebar__radiolbl">
      <div class="sidebar__radiodiv"></div>
      <p style="float:left; margin-top:5px; margin-left: 5px;">Including these days</p>
    </label>
    <div style="clear:both; padding:4px;"></div>
    <h1 class="sidebar__text">Course Number</h1>
    <input type="text" ng-model="courseNum" class="sidebar__input">
    <h1 class="sidebar__text">Begin Time</h1>
    <select ng-model="begin">
      <option value="0" selected>Any</option>
      <option value="600">6 am</option>
      <option value="700">7 am</option>
      <option value="800">8 am</option>
      <option value="900">9 am</option>
      <option value="1000">10 am</option>
      <option value="1100">11 am</option>
      <option value="1200">12 pm</option>
      <option value="1300">1 pm</option>
      <option value="1400">2 pm</option>
      <option value="1500">3 pm</option>
      <option value="1600">4 pm</option>
      <option value="1700">5 pm</option>
      <option value="1800">6 pm</option>
      <option value="1900">7 pm</option>
      <option value="2000">8 pm</option>
      <option value="2100">9 pm</option>
      <option value="2200">10 pm</option>
      <option value="2300">11 pm</option>
    </select>
    <h1 class="sidebar__text">End Time</h1>
    <select ng-model="end">
      <option value="2500" selected>Any</option>
      <option value="600">6 am</option>
      <option value="700">7 am</option>
      <option value="800">8 am</option>
      <option value="900">9 am</option>
      <option value="1000">10 am</option>
      <option value="1100">11 am</option>
      <option value="1200">12 pm</option>
      <option value="1300">1 pm</option>
      <option value="1400">2 pm</option>
      <option value="1500">3 pm</option>
      <option value="1600">4 pm</option>
      <option value="1700">5 pm</option>
      <option value="1800">6 pm</option>
      <option value="1900">7 pm</option>
      <option value="2000">8 pm</option>
      <option value="2100">9 pm</option>
      <option value="2200">10 pm</option>
      <option value="2300">11 pm</option>
    </select>
    <div style="clear:both; padding:4px;"></div>

    <input class="sidebar__radio" ng-model="ruleset.open" ng-true-value="true" ng-false-value="" type="checkbox" id="onlyOpen">
    <label for="onlyOpen" class="sidebar__radiolbl">
      <div class="sidebar__radiodiv"></div>
      <p style="float:left; margin-top:5px; margin-left: 5px;">Only Open Courses</p>
    </label>
    <div style="clear:both; padding:4px;"></div>

    <h1 class="sidebar__text">Credit Hours</h1>
    <input type="range" style="float:left" min="0" max="18" ng-model="ruleset.crenum" />
    <p style="float: left; margin-top:2px; margin-left: 5px; font-size: 1.8em;
    color: white;">{{ruleset.crenum}}</p>
    <div style="clear:both; padding:4px;"></div>
    <input class="sidebar__radio" ng-model="atLeast" type="radio" id="AtLeast" ng-value="true">
    <label for="AtLeast" class="sidebar__radiolbl">
      <div class="sidebar__radiodiv"></div>
      <p style="float:left; margin-top:5px; margin-left: 5px;">At Least this many</p>
    </label>
    <div style="clear:both; padding:4px;"></div>
    <input class="sidebar__radio" ng-model="atLeast" type="radio" id="Exactly" ng-value="false">
    <label for="Exactly" class="sidebar__radiolbl">
      <div class="sidebar__radiodiv"></div>
      <p style="float:left; margin-top:5px; margin-left: 5px;">Exactly this many</p>
    </label>
  </div>
  <div style="height:100%" ng-switch="loaded">
    <div ng-switch-when="true">LOADING</div>
    <div ng-switch-when="false" class="content" infinte-scroll-disabled="$parent.loaded" infinite-scroll="addMoreClasses()" infinite-scroll-distance="4" infinite-scroll-listen-for-event="filtered">
      <div ng-repeat="(subject,classes) in data">
        <h1 ng-show="$parent.showTitle[subject]" style="margin-left:0.6em; font-size: 3.0em;">{{subject}}</h1>
        <div ng-repeat="class in classes" class="content__class">
          <div style="float:left; width: 40%;">
            <h2 class="content__text content__text--title" ng-class="class.open">{{class.class}} - {{class.title}}</h1>
          <h3 ng-if="class.gur" class="content__text content__text--subtitle">GURS: {{class.gur}}</h2>
            <h3 ng-if="class.restrictions" class="content__text content__text--subtitle">Restrictions: {{class.restrictions}}</h2>
          <h3 ng-if="class.prerequisites" class="content__text content__text--subtitle">Prerequisites: {{class.prerequisites}}</h2>
            <h3 ng-if="class.other" class="content__text content__text--subtitle">Additional Information: {{class.other}}</h2>
        </div>
        <div style="float:left; display: flex; flex-direction: column;width: 60%;">
          <div class="content__right">
            <div style="width:60%;display: flex;
          justify-content: flex-start;">
              <p class="content__text">{{class.cap}}</p>
              <p class="content__text">{{class.enrol}}</p>
              <p class="content__text">{{class.avail}}</p>
            </div>
            <p style="width:40%;" class="content__text">{{class.inst}}</p>
          </div>
          <div style="font-size:90%;" class="content__right">
            <p style="width:60%;" class="content__text">{{class.time1}}</p>
            <p style="width:40%;" class="content__text">{{class.room1}}</p>
          </div>
          <div style="font-size:90%;" class="content__right">
            <p style="width:60%;" class="content__text">{{class.time2}}</p>
            <p style="width:40%;" class="content__text">{{class.room2}}</p>
          </div>
          <div style="font-size:80%;" class="content__right">
            <p class="content__text">{{class.crn}}</p>
            <p class="content__text">{{class.crenum}}</p>
            <p class="content__text">{{class.addl}}</p>
          </div>
          <div style="font-size:80%;" class="content__right">
            <p class="content__text">RMP score: {{scores[class.inst]}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style='clear: both;'></div></body>

</div>
</html>
