//Copyright (C) Brandon Fox 2016
$western-blue: #003F87;
$western-light-blue: #0083D6;
html {
  font-size: 62.5%;
  background-color: #EEE;
}
* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0 0 0 23em;
}
.sidebar {
  background-color: $western-blue;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 23.0em;
  -webkit-box-shadow: 3px 0 8px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 0 8px 0 rgba(0,0,0,0.75);
  box-shadow: 3px 0 8px 0 rgba(0,0,0,0.75);
  overflow-y: auto;
  overflow-x: hidden;
  &__subject {
    width: 100%;
  }
  &__text {
    color: white;
    margin: 5px;
  }
  &__check {
    position: absolute;
    left:-10000;
    &:checked + .sidebar__checklbl {
      background-color: $western-light-blue;
    }
  }
  &__radio {
    position: absolute;
    left:-10000;
    &:checked + .sidebar__radiolbl > .sidebar__radiodiv {
      background-color: white;
    }
  }
  &__radiolbl {
    font-size: 1.5em;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
  &__slider {
    width: 90%;
    margin-left: 10px;
    font-size: 1.8em;
    color: white;
  }
  &__radiodiv{
    background-color: $western-blue;
    border: 0.2em solid white;
    margin-left: 4px;
    width: 30px;
    height:30px;
    border-radius: 15px;
    float: left;
  }
  &__checklbl {
    float: left;
    color: white;
    width: 28px;
    height: 28px;
    font-size: 1.5em;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    &:hover {
      cursor: pointer;
    }
  }
  &__input {
    width:100%;
    padding:.5em;
    font-size: 1.5em !important;
    color:white;
    &:focus {
      outline: none;
    }
  }

}

.content {
  background-color: #EEEEEE;
  width: 100%;
  &__class {
    padding: 1em;
    background-color: white;
    width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.75);
    overflow: auto;
  }
  &__right {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  &__text {
    font-weight: lighter;
    font-size: 1.98em;
    padding: 0 0.8em;
    &--title {
      font-weight: bold;
      font-size: 2.4em;
      float: none;
      padding-left: 0.4em;

    }
    &--subtitle {
      font-size: 2.0em;
      float: none;
      padding-left: 0.4em;

    }
  }
}

.false {
  color: rgb(196, 8, 6) !important;
}

.select2-container {
  font-size: 1.5em !important;
  border-radius: 0;

}

.select2-selection__choice {
  margin-bottom: 5px;
}

.select2-container--default,
.select2-selection--multiple{
  border-radius: 0 !important;
}
.sidebar__input,
.select2-selection--multiple {
  background-color: $western-light-blue !important;
  border: none !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
}

input[type=range] {
  -webkit-appearance: none;
  margin: 4px;
  width: 80%;
  margin-bottom: 20px;
  margin-top: 10px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  height: 28px;
  width: 28px;
  border-radius:14px;
  background: $western-light-blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 1.3px;
}
input[type=range]::-moz-range-thumb {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  background: $western-light-blue;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  background: $western-light-blue;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: white;
}
input[type=range]:focus::-ms-fill-upper {
  background: white;
}
